
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.Display("Propiedad") @*//nombre de la variable para mostrarla*@

@Html.Editor("Propiedad") @*//nombre de la variable para poder editarlos de forma rápida*@