@model Boolean
       @if(Model) //hace referencia al campo el de empleado
        {
            <span>Si</span>
        }
        else
        {
            <span>No</span>
        }

@*//se creo adentro de practicas porque solo es para practicas*@

