@{
	//el @ es una nomenclatura que se llama razor
	//es una forma de poder incrustar en una pagina html el c#
	ViewBag.Title = "pwa";
	//la variable de ViewBag.Message es la que viene desde el controlador

}
<h2>@ViewBag.Title.</h2>


<h3>@ViewBag.Message</h3>
	
<p>Use this area to provide additional information.</p>
